
/* �� */
#container:before {
	content: '';
	
	position: absolute;
	top: 0px;
	bottom: 0;
	
	width: 2px;
	height:100%;
	background: rgb(33,121,193);
	left: 15%;
	
}




/* ͼ�� */
.point {
	width: 20px;
	height: 20px;
	position: absolute;
	
	background: #46a4da;
	border-radius: 50%;
	
	text-align: center;
	left: 15%;
	top:150px;
	margin-left:-9px;
}

.title{
	position: absolute;
	left: 15%;
	top:150px;
	color: rgb(110,102,119);
	font-size: 1.0em;
	font-weight: 300;
	margin-top:-5px;
	margin-left:20px;
}

.form{
	margin-left:25%;
	margin-top:0%;
}

