#main{
	margin-top:50px;	
}

lable{
   font-family:"楷体";
   font-size:17px;
   text-align:center;
   vertical-align:center;
   height:32px；
   lineheight:32px；
}

input{
   width:70%;
   height:30px;
   
   
}

.time{
	width:50px;
   height:30px;
}


textarea{
   width:70%;
   height:250px;
   
  vertical-align:top;
}

button {    
    font-family:"楷体";
	font-size:17px;
	height:25px;
	width:60px;
	text-align:center;
	 position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 0.5em 1em; 
    border: 1px solid #d4d4d4; 
    margin: 0;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff; 
    font:11px/normal sans-serif; 
    color: #333; 
    white-space: nowrap; 
    cursor: pointer; 
    outline: none; 
    background-color: #ececec;
    background-image: linear-gradient(#f4f4f4, #ececec);
}

.submit{
   margin-left:35%;
   height: 30px;
   width: 100px;
}


button:hover,
focus,
active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}