*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}


a{
	color:#ffffff;
}

.main{
	width: 90%;
	max-width: 60em;
	margin: 0 auto;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}




.timeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* 轴 */
.timeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #afdcf8;
	left: 20%;
	margin-left: -10px;
}

.timeline > li {
	position: relative;
}

/* 时间 */
.timeline > li .timepoint {
	display: block;
	width: 25%;
	padding-right: 100px;
	position: absolute;
}

.timeline > li .timepoint span {
	display: block;
	text-align: right;
}

.timeline > li .timepoint span:first-child {
	font-size: 1.5em;
	color: #6cbfee;
}

.timeline > li .timepoint span:last-child {
	font-size: 2.5em;
	color: #6cbfee;
}



/* 内容 */
.timeline > li .timelabel {
	margin: 0 0 15px 25%;
	background: #6cbfee;
	color: #fff;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}


.timeline > li .timelabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

.timeline > li .timelabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #6cbfee;
	border-width: 10px;
	top: 10px;
}



/* 图标 */
.timeline > li .timeicon {
	width: 40px;
	height: 40px;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

img:hover{
	cursor:pointer;
}
